			.header{
				padding : 30px;
				background-color:#386347;
				color:white;
				text-align:center;
			}
			.prodi{
				padding:1%;
				background-color:#b5cda9;
				color:white;
				width:25%;
				height:250px;
				float:left;
			}
			.content{
				padding:1%;
				background-color:white;
				width:65%;
				height:250px;
				float:left;
			}
			.footer{
				padding:30px;
				background-color:#386347;
				clear: both;
				text-align: center;
			
			}
			h3{color:black;}
			a{
				text-decoration: none;
				color: inherit;